.news {
  background-color: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 4px;
}
.text-Card {
  width: fit-content;
}
.card-body-text {
  width: 270px;
  height: fit-content;
  top: 205px;
  left: 1035px;
}
.text {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.card-title {
  width: 270px;
  height: 64px;
  top: 917px;
  left: 135px;

  font-family: Playfair Display;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(18, 18, 33, 1);
}

